### Charecter set can match a set of charecter

In [2]:
import re

In [6]:
# '\w' represent numbers of words charecter before special charecter match 
re.search(r'\w\w\w\w', 'i am confused! are you?')

In [9]:
re.search(r'\w\w\w\w', 'are you?') # Returns nothing because before '?' there is no four charecter word

In [18]:
re.search(r'\w\w\w', "a32.-_!").group() # show result

'a32'

In [19]:
re.search(r'\w\w\w', "a3 .-_!").group() # Match with empty space

AttributeError: 'NoneType' object has no attribute 'group'

### Quantifiers

# Syntex descriptions
'+' = 1 or more
'?' = 0 or 1 
'*' = 0 or more 
'{n,m}' = n to m repetitions 
    {,3} =  Any number up to 3
    {3,} = 3 to any numbers

In [28]:
re.search(r'\w+', 'anything you want').group() # Return all charecter before first space

'anything'

In [33]:
re.search(r'\w+\W+\w+', 'anything you want').group()

'anything you'

In [34]:
re.search(r'\w+\W?\w+', 'anything you want').group()

'anything you'

In [38]:
re.search(r'\w{3}', 'aaaaaaaaaaaa').group()

'aaa'

In [41]:
re.search(r'\w{,3}', 'abcdefghijk').group()

'abc'

In [42]:
re.search(r'\w{5,}', 'abcdefghijk').group()

'abcdefghijk'

### Digits

'\d' = Matches digits [0-9]
'\D' = Matches any non degit charecters

In [56]:
text = 'Year 2020 Month Dec day 08'
re.search('\d', text).group() # Return 1st digit

'2'

In [57]:
re.search('\d+', text).group() # Return 1st full digit

'2020'

In [58]:
re.search('\D', text).group() # Return first charecter without digits

'Y'

In [59]:
re.search('\D+', text).group() # Return  charecter without digits

'Year '

### White Spaces

'\s' = Matches any whitespace charecter (New lines, space, Tabs etc)
'\S' = Matches any non-whitespace charecter

In [61]:
text = 'Year 2020 Month Dec day 08 ++'

In [65]:
len(re.search('\s+', text).group())

1

In [67]:
re.search('\S+', text).group()

'Year'

In [72]:
str = """The fishermen, who started from Cox's Bazar 

on November 15, were stranded in the sea as their boat "Rana" developed a technical glitch.

They were extremely 
exhausted and had no food left on board. 

They were provided with first aid, food and water by the Indian Coast Guard. """

In [73]:
re.findall('\S+', str)

['The',
 'fishermen,',
 'who',
 'started',
 'from',
 "Cox's",
 'Bazar',
 'on',
 'November',
 '15,',
 'were',
 'stranded',
 'in',
 'the',
 'sea',
 'as',
 'their',
 'boat',
 '"Rana"',
 'developed',
 'a',
 'technical',
 'glitch.',
 'They',
 'were',
 'extremely',
 'exhausted',
 'and',
 'had',
 'no',
 'food',
 'left',
 'on',
 'board.',
 'They',
 'were',
 'provided',
 'with',
 'first',
 'aid,',
 'food',
 'and',
 'water',
 'by',
 'the',
 'Indian',
 'Coast',
 'Guard.']

In [77]:
# Remove all extra white space and join them to make clear sentence
remove_ws_and_joins_str = ' '.join(re.findall('\S+', str)) 
remove_ws_and_joins_str

'The fishermen, who started from Cox\'s Bazar on November 15, were stranded in the sea as their boat "Rana" developed a technical glitch. They were extremely exhausted and had no food left on board. They were provided with first aid, food and water by the Indian Coast Guard.'

 # Dot(.)
Matches any charecter sxcept newline

In [78]:
re.search('.+', str, flags=re.DOTALL).group()

'The fishermen, who started from Cox\'s Bazar \n\non November 15, were stranded in the sea as their boat "Rana" developed a technical glitch.\n\nThey were extremely \nexhausted and had no food left on board. \n\nThey were provided with first aid, food and water by the Indian Coast Guard. '