In [56]:
import pandas as pd 
import re

In [73]:
data = pd.read_csv('../Data/fullname_shortname.csv')
data.head()

                                            fullname     actual short
0  Ride Medicine Corner                          ...   Pharmacy  PHAR
1  Konok Pharmacy                                ...  Medicine   MDCN
2  Shahera Medicine Corner                       ...        NaN   NaN
3  Manik Medical Hall                            ...        NaN   NaN
4  Sourav Sajib Medical hall                     ...        NaN   NaN

In [74]:
fullname = data.fullname
actual= data.actual
short = data.short

In [59]:
full_name.head(2)

0    Ride Medicine Corner                          ...
1    Konok Pharmacy                                ...
Name: fullname, dtype: object

In [60]:
actual.head(2)

0     Pharmacy
1    Medicine
Name: actual, dtype: object

In [61]:
short.head(2)

0    PHAR
1    MDCN
Name: short, dtype: object

In [62]:
actual = actual[0]
short = short[0]
# for i in range(len(full_name)):
#     s= full_name[i].replace(actual, rep_val)
#     print(s)

In [63]:
actual

'Pharmacy'

In [64]:
short

'PHAR'

In [65]:
li = []
li.clear()
def short_name_converter(fullname, actual, short):
    for i in range(len(fullname)):
        s = fullname[i].replace(actual, short)
        li.append(s)

In [66]:
short_name_converter(data.fullname, actual, short)

In [67]:
df = pd.DataFrame()
df['fullname'] = data.fullname
df['short_name'] = li

In [69]:
df.head()

,fullname,short_name
0,Ride Medicine Corner ...,Ride Medicine Corner ...
1,Konok Pharmacy ...,Konok PHAR ...
2,Shahera Medicine Corner ...,Shahera Medicine Corner ...
3,Manik Medical Hall ...,Manik Medical Hall ...
4,Sourav Sajib Medical hall ...,Sourav Sajib Medical hall ...

In [70]:
df.to_csv('../Data/results.csv', index=False)
print('Data Saved')

Data Saved

# Test

In [86]:
fullname

0     Ride Medicine Corner                          ...
1     Konok Pharmacy                                ...
2     Shahera Medicine Corner                       ...
3     Manik Medical Hall                            ...
4     Sourav Sajib Medical hall                     ...
                            ...
71    Lily Pharmacy                                 ...
72    Satota Pharmacy                               ...
73    Jahan Medical Hall                            ...
74    Mayer Doya Pharmacy                           ...
75    Shua Medicine Corner                          ...
Name: fullname, Length: 76, dtype: object