In [1]:
import pandas as pd 
import re

In [19]:
data = pd.read_csv('../Data/fullname_shortname.csv')
data.head()

                  fullname         actual   short
0  bhai bhai pharmacytical  pharmacytical  Pharma
1       pharmacytical home            NaN     NaN
2         ma pharmacytical            NaN     NaN
3      jibon pharmacytical            NaN     NaN

In [21]:
full_name = data.fullname
actual= data.actual
short = data.short

In [4]:
full_name

0    bhai bhai pharmacytical
1         pharmacytical home
2           ma pharmacytical
3        jibon pharmacytical
Name: fullname, dtype: object

In [22]:
actual

0    pharmacytical
1              NaN
2              NaN
3              NaN
Name: actual, dtype: object

In [23]:
short

0    Pharma
1       NaN
2       NaN
3       NaN
Name: short, dtype: object

In [24]:
# retrive all values
actual = actual[0]
rep_val = short[0]
for i in range(len(full_name)):
    s= full_name[i].replace(actual, rep_val)
    print(s)

bhai bhai Pharma
Pharma home
ma Pharma
jibon Pharma

In [66]:

li = []
li.clear()
def short_name_converter(fullname, actual, short):
    for i in range(len(fullname)):
        s = full_name[i].replace(actual, rep_val)
        li.append(s)

In [67]:
short_name_converter(data.fullname, actual, rep_val)

In [ ]:
df = pd.DataFrame()
df['fullname'] = data.fullname
df['short_name'] = li

In [ ]:
df

In [71]:
df

                  fullname        short_name
0  bhai bhai pharmacytical  bhai bhai Pharma
1       pharmacytical home       Pharma home
2         ma pharmacytical         ma Pharma
3      jibon pharmacytical      jibon Pharma