# Covered Sections 
1. sep
2. header
3. names 
4. index_col 
5. usecols
6. squeeze
7. prefix
8. Marge Duplicated columns
9. columns dtype
10. Converters
11. true_values, false_values
12. skiprows
13. skipfooter
14. nrows
15. default NaN values
16. keep default null values
17. Keep null_values
18. verbose

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Data/f500.csv')

In [3]:
df.head(1)

,company,rank,revenues,col1,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,Yes,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798

# 1. sep
If your datset looks like below(separator between each field). you have to seperate '|' to remove this

In [4]:
sepdf = pd.read_csv('../Data/separator.txt')
sepdf.head()

  id|name|age
0  1|Royel|25
1   2|Rana|23
2   3|Urmi|14

In [5]:
sepdf = pd.read_csv('../Data/separator.txt', sep='|')
sepdf.head()

   id   name  age
0   1  Royel   25
1   2   Rana   23
2   3   Urmi   14

 # 2. Header 
 Defains which line of your dataset is considered to be a header. In default first rows consider as a header. But if you want, you could use as

In [6]:
headerdf = pd.read_csv('../Data/f500.csv', header = 0)
headerdf.head(2)

,company,rank,revenues,col1,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,Yes,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,Yes,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456

header = 1 (Consider second line of the dataset as header)

In [7]:
headerdf = pd.read_csv('../Data/f500.csv', header = 1)
headerdf.head(2)

,Walmart,1,485873,Yes,0.8,13643,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1.1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
0,State Grid,2,315199,Yes,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
1,Sinopec Group,3,267518,No,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523

Header = None ( Remove headers from dataset)

In [8]:
headerdf = pd.read_csv('../Data/f500.csv', header = None)
headerdf.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,company,rank,revenues,col1,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
1,Walmart,1,485873,Yes,0.8,13643,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798

# 3. Names
If you change entire header colums name you have to create a list of new headers name. Make sure you put all columns name

In [9]:
columns_name = ['Company','Rank','Revenue_change','Profits','Assets','Profit_Change','CEO','Industry' ,'Sector','OldRank','Country','Location','WebSite', 'GlobalList', 'Emp','StockHolder']
namesdf = pd.read_csv('../Data/f500.csv', names=columns_name)
namesdf.head(10)

,,Company,Rank,Revenue_change,Profits,Assets,Profit_Change,CEO,Industry,Sector,OldRank,Country,Location,WebSite,GlobalList,Emp,StockHolder
company,rank,revenues,col1,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Walmart,1,485873,Yes,0.8,13643,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,Yes,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,No,-9.1,1257.9,310726,-65,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,Yes,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,Yes,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
Volkswagen,6,240264,No,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753
Royal Dutch Shell,7,240033,Yes,-11.8,4575,411275,135.9,Ben van Beurden,Petroleum Refining,Energy,5,Netherlands,"The Hague, Netherlands",http://www.shell.com,23,89000,186646
Berkshire Hathaway,8,223604,Yes,6.1,24074,620854,NaN,Warren E. Buffett,Insurance: Property and Casualty (Stock),Financials,11,USA,"Omaha, NE",http://www.berkshirehathaway.com,21,367700,283001
Apple,9,215639,No,-7.7,45687,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249

# 4. index_col
index_col = 0 refers first columns names in rows number

In [10]:
df = pd.read_csv('../Data/f500.csv', index_col = 0)
df.head(2)

,rank,revenues,col1,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
company,,,,,,,,,,,,,,,,,
Walmart,1,485873,Yes,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,Yes,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456

Multiple columns name in index_col 
1. index_col = [0,1]  defines columns name using serial number 
2. index_col = ["column1", "column2"]

In [11]:
df1 = pd.read_csv('../Data/f500.csv', index_col=[0,1])
df1.head(2)

,,revenues,col1,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
company,rank,,,,,,,,,,,,,,,,
Walmart,1,485873,Yes,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,Yes,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456

In [12]:
df2 = pd.read_csv('../Data/f500.csv', index_col=["company", "rank"])
df2.head(2)

,,revenues,col1,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
company,rank,,,,,,,,,,,,,,,,
Walmart,1,485873,Yes,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,Yes,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456

# 5. usecols 
Select specefic columns from a large dataset 
columns order are maintain on actual dataset not your custom columns name

In [13]:
df = pd.read_csv('../Data/f500.csv', usecols=['rank', 'company','profits'])
df.head(2)

      company  rank  profits
0     Walmart     1  13643.0
1  State Grid     2   9571.3

In [14]:
# Alternative way by columns serial 
df = pd.read_csv('../Data/f500.csv', usecols=[0,1,2,3])
df.head(2)

      company  rank  revenues           col1
0     Walmart     1    485873            Yes
1  State Grid     2    315199            Yes

### Remove columns names

In [15]:
# rank and profit columns are removed 
df = pd.read_csv('../Data/f500.csv', usecols= lambda column : column not in ['rank', 'profits'])
df.columns

Index(['company', 'revenues', 'col1', 'revenue_change', 'assets',
       'profit_change', 'ceo', 'industry', 'sector', 'previous_rank',
       'country', 'hq_location', 'website', 'years_on_global_500_list',
       'employees', 'total_stockholder_equity'],
      dtype='object')

# 6. squeeze
If your dataset has only one columns and you want to make it as a series then you have to set squeeze=True. It will return data as a seris not dataframe

In [16]:
df = pd.read_csv('../Data/squeeze.csv')
df.head()

    status
0   Today
1      is
2       a
3  shainy
4     day.

In [17]:
type(df)

pandas.core.frame.DataFrame

In [18]:
df = pd.read_csv('../Data/squeeze.csv', squeeze=True)
type(df)

pandas.core.series.Series

# 7. prefix 
When your dataset has not any olumns or header =None, you could set a fixed columns name for your header

In [19]:
# No header name 
# By default it set 0 to N
df = pd.read_csv('../Data/f500.csv', header=None)
df.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,company,rank,revenues,col1,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
1,Walmart,1,485873,Yes,0.8,13643,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798

In [20]:
df = pd.read_csv('../Data/f500.csv', header=None, prefix='Col')
df.head(2)

,Col0,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,Col13,Col14,Col15,Col16,Col17
0,company,rank,revenues,col1,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
1,Walmart,1,485873,Yes,0.8,13643,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798

#  8. Marge Duplicated columns
Here duplicated columns are revenues1, profits1, sectors1

In [21]:
df = pd.read_csv('../Data/duplicated_columns.csv')
df.head(1)

,company,rank,revenues,revenues.1,revenue_change,profits,profits.1,assets,profit_change,ceo,industry,sector,sector.1,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,485873,0.8,13643.0,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798

In [22]:
print('Total columns= ',df.shape[1])

Total columns=  20

In [23]:
# Make duplicated columns name unique . add 1 at the end of the duplicated colums name
df = pd.read_csv('../Data/duplicated_columns.csv', mangle_dupe_cols=True)
df.head(1)

,company,rank,revenues,revenues.1,revenue_change,profits,profits.1,assets,profit_change,ceo,industry,sector,sector.1,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,485873,0.8,13643.0,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798

# 9. columns dtype
set columns data type single or multiple columns at a time

In [24]:
# Read all integer data 

df = pd.read_csv('../Data/f500.csv')
df.head(2)

,company,rank,revenues,col1,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,Yes,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,Yes,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   company                   500 non-null    object
 1   rank                      500 non-null    int64
 2   revenues                  500 non-null    int64
 3   col1                      500 non-null    object
 4   revenue_change            498 non-null    float64
 5   profits                   499 non-null    float64
 6   assets                    500 non-null    int64
 7   profit_change             436 non-null    float64
 8   ceo                       500 non-null    object
 9   industry                  500 non-null    object
 10  sector                    500 non-null    object
 11  previous_rank             500 non-null    int64
 12  country                   500 non-null    object
 13  hq_location               500 non-null    object
 14  website                   500 non-null    object
 15  years_on_global_500_list  500 non-null    int64
 16  employees                 500 non-null    int64
 17  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(8)
memory usage: 70.4+ KB

In [26]:
# Here rank, revenues is int64 lets make it float64
df1 = pd.read_csv('../Data/f500.csv', dtype={'revenues':"float64", "rank":"float64"})
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   company                   500 non-null    object
 1   rank                      500 non-null    float64
 2   revenues                  500 non-null    float64
 3   col1                      500 non-null    object
 4   revenue_change            498 non-null    float64
 5   profits                   499 non-null    float64
 6   assets                    500 non-null    int64
 7   profit_change             436 non-null    float64
 8   ceo                       500 non-null    object
 9   industry                  500 non-null    object
 10  sector                    500 non-null    object
 11  previous_rank             500 non-null    int64
 12  country                   500 non-null    object
 13  hq_location               500 non-null    object
 14  website                   500 non-null    object
 15  years_on_global_500_list  500 non-null    int64
 16  employees                 500 non-null    int64
 17  total_stockholder_equity  500 non-null    int64
dtypes: float64(5), int64(5), object(8)
memory usage: 70.4+ KB

Rand and revenues data type turn into float64

# 10. Converters 
Convert values in certain columns, using a dictionary functions.

In [27]:
# Replace '.' with ',' in a floating point  columns
func = lambda x : (x.replace('.', ','))
df = pd.read_csv('../Data/f500.csv', converters = {'profits': func})

In [28]:
df.profits.head(3)

0     13643
1    9571,3
2    1257,9
Name: profits, dtype: object

# 11. true_values , false_values
replace Yes, No with True False

In [29]:
df = pd.read_csv('../Data/f500.csv', encoding = 'ISO-8859-1', true_values = ['Yes'], false_values = ['No'])

In [30]:
df.col1.head(3)
# Yes and No values are changes with in True and False in Col1 columns

0              Yes
1              Yes
2               No
Name: col1, dtype: object

# 12. skiprows
It will allow how many rows you want to skip from starts

In [31]:
# lets skip 2nd rows( where company = 'State Grid')
df = pd.read_csv('../Data/f500.csv', skiprows=2)
df.head()

# It removes all above 2 rows

,State Grid,2,315199,Yes,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2.1,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
0,Sinopec Group,3,267518,No,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
1,China National Petroleum,4,262573,Yes,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
2,Toyota Motor,5,254694,Yes,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
3,Volkswagen,6,240264,No,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753
4,Royal Dutch Shell,7,240033,Yes,-11.8,4575.0,411275,135.9,Ben van Beurden,Petroleum Refining,Energy,5,Netherlands,"The Hague, Netherlands",http://www.shell.com,23,89000,186646

In [32]:
# skip selected rows 
df = pd.read_csv('../Data/f500.csv', skiprows=[3,4,5])
df.shape
# Three rows are removed from 500 roews

(497, 18)

# 13. skipfooter
removes numbers of rows from bottom of the file.

In [33]:
df = pd.read_csv('../Data/f500.csv', skipfooter=2, engine='python')
df.shape

(498, 18)

# 14. nrows
Read limited numbers of rows from a files.

In [34]:
# read only first 10 rows
df = pd.read_csv('../Data/f500.csv', nrows=10)
df.shape

(10, 18)

In [35]:
df = pd.read_csv('../Data/f500.csv')

# 15.  default NaN values
All these strings are considered as default NaN values by pandas read_csv function – ”, ‘#N/A’, ‘#N/A N/A’, ‘#NA’, ‘-1.#IND’, ‘-1.#QNAN’, ‘-NaN’, ‘-nan’, ‘1.#IND’, ‘1.#QNAN’, ‘N/A’, ‘NA’, ‘NULL’, ‘NaN’, ‘n/a’, ‘nan’, ‘null’.

In [36]:
df = pd.read_csv('../Data/new_data.csv')
df.head(3)
# If you directly onel the file using excel you will find col1 has some blank rows and and both col1, col2 has NaN values

,company,rank,revenues,col1,col2,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,NaN,NaN,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,NaN,NaN,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,NaN,NaN,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523

In [37]:
# If your data automatically not converted to 'NaN' then you could use this 
# After encoding the values 
df = pd.read_csv('../Data/new_data.csv', encoding = 'ISO=8859-1')
df.head()

,company,rank,revenues,col1,col2,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,NaN,NaN,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,NaN,NaN,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,NaN,NaN,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,NaN,NaN,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,NaN,NaN,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

# 16. keep default null valuese

In [38]:
# If you like to keep default null valuese 
df = pd.read_csv('../Data/new_data.csv', encoding = 'ISO=8859-1', keep_default_na=False)
df.head(2)

,company,rank,revenues,col1,col2,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,nan,#N/A,0.8,13643,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,null,#N/A,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456

# 17. Keep null_values 
If you like to keep or replace any additional string as a null values then you could use this

In [39]:
df = pd.read_csv('../Data/new_data.csv')
df.head(2)

,company,rank,revenues,col1,col2,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,NaN,NaN,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,NaN,NaN,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456

In [40]:
# In company columns first rows has "walmart". lets make it null values
df = pd.read_csv('../Data/new_data.csv', na_values = ['Walmart'])
df.head(2)

# Walmart replaced with NaN (Not a Number) Values

,company,rank,revenues,col1,col2,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,NaN,1,485873,NaN,NaN,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,NaN,NaN,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456

If you want to interprate the an string in a specefic columns

In [41]:
df = pd.read_csv('../Data/new_data.csv', na_values = {'country', 'China'})
df.country.head()
# All china contry are removed to NaN

0      USA
1      NaN
2      NaN
3      NaN
4    Japan
Name: country, dtype: object

# 18. verbose
Print additional informations 

It will show flowing informations
-----------------------------------
Tokenization took: 1.00 ms
Type conversion took: 4.02 ms
Parser memory cleanup took: 0.00 ms

In [ ]:
df = pd.read_csv('../Data/new_data.csv', verbose=True)

In [45]:
df = pd.read_csv('../Data/new_data.csv', verbose=True)

Tokenization took: 0.72 ms
Type conversion took: 2.24 ms
Parser memory cleanup took: 0.00 ms